$myBlackRed: rgb(94, 0, 0);
$myLightRed: rgb(182, 59, 59);
$myBlackBlue: rgb(0, 0, 94);
$myLightBlue: rgb(59, 59, 182);
$myBackgroundColor: rgba(65, 65, 65, 1);
$myWhite: rgba(255, 255, 255,1 );
$myBlack: rgb(0, 0, 0);