@import "colors";
@mixin setMarginPadding($margin: 0, $padding: 0) {
	margin: $margin;
	padding: $padding;
}

* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: clamp(14px, 1.5vw, 20px);
}

html {
	height: 100%;
}
body {
	@include setMarginPadding(0, 0);
	background-color: $myBackgroundColor;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*Шапка*/
#header {
	@include setMarginPadding(0, 0);
	display: flex;
	max-height: 10vh;
	width: auto;
}
#logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7vw;
	height: auto;
	min-width: 50px;
	background-color: $myWhite;
}
#site-image {
	width: 100%;
	height: 100%;
  transition: filter 0.3s ease;
	&:hover {
				filter: drop-shadow(0 0 9px $myBlackRed); /* Более яркое свечение */
				}
}
#sections-links {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: $myWhite;
	ul {
	list-style: none;
	display: flex;
	gap: 40px;
	li {
		a {
			text-decoration: none;
			color: $myBlack;
			&:hover {
				color: $myBlackRed;
				}
			}
		}
	}
}

/*Тело*/
#main, #serials, #movies, #serial-view {
	@include setMarginPadding(25px, 30px);
	flex-grow: 1;
	background-color: $myWhite;
	border-radius: 8px;
}

/*Подвал*/
#footer {
	max-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $myWhite;
}
