@import "colors";
@mixin setMarginPadding($margin: 0, $padding: 0) {
	margin: $margin;
	padding: $padding;
}

.movie-container {
	display: flex; 
	flex-wrap: wrap; 
	gap: 20px;      
	justify-content: center;
}
.movie-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $myBackgroundColor;
	border-radius: 10px;
}
.movie-card_image {
	transition: all 0.3s ease;
	&:hover {
		transform: translateY(-5px); 
		box-shadow: 0 8px 15px rgba(0,0,0,0.3);
	}
	img {
		width: 15vw;
		min-width: 200px;
		height: auto;
    display: block; 
		border-radius: 10px 10px 0 0;
	}
}
.movie_info {
	text-align: center;
	color: $myWhite;
	h3 {
		margin: 10px 0;
		font-size: 1.2em;
	}
	p {
		font-size: 0.9em;
	}
}