@charset "UTF-8";
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: clamp(14px, 1.5vw, 20px);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(65, 65, 65);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Шапка*/
#header {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 10vh;
  width: auto;
}

#logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7vw;
  height: auto;
  min-width: 50px;
  background-color: rgb(255, 255, 255);
}

#site-image {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}
#site-image:hover {
  -webkit-filter: drop-shadow(0 0 9px rgb(94, 0, 0));
          filter: drop-shadow(0 0 9px rgb(94, 0, 0)); /* Более яркое свечение */
}

#sections-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255, 255, 255);
}
#sections-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
#sections-links ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#sections-links ul li a:hover {
  color: rgb(94, 0, 0);
}

/*Тело*/
#main, #serials, #movies {
  margin: 25px;
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

/*Подвал*/
#footer {
  max-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255, 255, 255);
}