@charset "UTF-8";
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: clamp(14px, 1.5vw, 20px);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(65, 65, 65);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Шапка*/
#header {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: auto;
}

#logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7vw;
  height: auto;
  min-width: 50px;
  background-color: rgb(255, 255, 255);
}

#site-image {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#sections-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(202, 202, 202);
}
#sections-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
#sections-links ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#sections-links ul li a:hover {
  color: rgba(255, 15, 15, 0.3);
}

/*Тело*/
#main {
  margin: 25px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: rgb(255, 255, 255);
}

/*Подвал*/
#footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(202, 202, 202);
}