.main-video {
  width: 100%;
}
.main-video video {
  width: 50vw;
  height: 40vh;
  border-radius: 10px;
  background: rgb(0, 0, 0);
}

.episodes-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  padding: 10px 0;
}
.episodes-nav .ep-btn {
  min-width: 45px;
  height: 45px;
  background: rgb(65, 65, 65);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.episodes-nav .ep-btn:hover {
  background: rgb(0, 0, 0);
}
.episodes-nav .ep-btn.active {
  background: rgb(94, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(94, 0, 0);
          box-shadow: 0 0 10px rgb(94, 0, 0);
}